{% extends 'base.html' %}

{% block title %} BlogHome {% endblock title %} 


{% block body %}

<style>
    .container my-3{
        padding:200px;
        background-color: red;
    }
    .container{
        color: white;
        padding:100px;
        background-color: purple;
        margin:200px;
    }
    h1{
        text-align: center;
    }
</style>



<div class="container my-3">
    <h1>Coding Articles by iCoder</h1>
    <div class="container">
    {% for post in allposts  %}
    {{post.head1}}
         
    {% endfor %}
    </div>
</div>
 {% endblock %}